* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #bbc0be;
}

.navlink {
  display: flex;
    justify-content: space-around;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #676c6d;
    color: #ffffff;
}

.navlink h1{
    font-size: 48px;
    color: #f4f7f8;
    text-align: end;
}

header nav ul {
    bottom: 15px;
    list-style-type: none;
}

header nav ul li {
  margin-top: 20px;
    display: inline-block;
    margin-left: 50px; 
}

a {
    color: #f4f7f8;
    text-decoration: none;
}
.header-links a:hover {
    color: #85f900;
}

.banner {
    height: 200px;
    width: 100%;
    Margin-bottom: 20px;
    background-image: url("./images/code\ screen.jpeg");
    background-size: cover;
    background-position: center;
}
.float-right {
    float: right;
    margin-bottom: 60px;
    margin-left: 25px;
    margin-top: 40px;
}
article h2 {
  margin-right: 25%;
  padding-right: 25px;
}
article {
     display: inline-block;
     margin-left: 25px;
    margin-right: 25px;
}

p {
     font-size: 24px;
     text-align: center;
}
.about {
    margin-bottom: 25px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

main h2 {
  justify-content: center;
    text-align: center;
    font-size: 30px;
}

.about img {
    position: relative;
    bottom: 75px;  
}
.card-header {
    padding: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .card-header img {
    align-content: center;
    border-radius: 25px;
    border-style: solid;
    border-color: #000304;
    width: 100%;
  }

  .card-header img:hover {
    border-color: #85f900;
  }

  .card-header p {
    text-align: center;
    font-size: 18px;
    padding: 10px;
    border-radius: 25px;
    background: #676c6d;
    color: #fff;
  }

  .card-header p:hover {
    background: #85f900;
    color: #000304;
  }

.card img {
    border-radius: 25px;
    border-style: solid;
    border-color: #000304;
    width: 100%;
}

.card {
    padding: 10px;
    float: left;
    width: 25%;
  }
  
  .card p {
    text-align: center;
    font-size: 18px;
    padding: 10px;
    border-radius: 25px;
    background: #676c6d;
    color: #fff;
    }

    .card p:hover {
        background: #85f900;
        color: #000304;
    }
  
  .card img {
    border-radius: 25px;
    border-style: solid;
    border-color: #000304;
    width: 100%;
  }

  .card img:hover {
    border-color: #85f900
  }
  .contact {
    display: inline-block;
    padding: 25px;
    align-content: center;
    text-align: center;
    position: relative;
    left: 100px;
  }



@media screen and (max-width: 992px) {
  .card {
    width: 50%;}
}
@media screen and (max-width: 768px) {
    .card {
      width: 50%;}
      article p {
        font-size: 21px;
      }
    }
    @media screen and (max-width: 650px) {
      article p {
        font-size: 16px;
        }
        article h2 {
          margin-right: 35%;
        }
    }